/* 공통 CSS */

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    text-align: center;
}

ul, li{
    list-style-type: none;
}

/*  ! 메뉴바 : 영원 */
/* 리스트 문자 없애기 */
header{
    margin: 0 auto;
    background: #f6f5ef;
    border-top: 3px solid #000;
    position: fixed;
    width: 100%;
    z-index: 9999;
    
}
header>div{
    height: 120px;
    position: relative;
    
}
/* top_div 크기 설정 */
header>div>.top_div{
    margin: 0 auto;
    width: 1100px;
    height: 50px;
    position: relative;
    
}

header>div:after{display: block; clear: both;}

/* 로고 위치 설정 */
header>div>.top_div>a{
    float: left;
    margin: 22px 0 0;
    position: relative;
}
/* first nav 설정 */
header>div>.top_div>#nav_first{
    position: absolute;
    display: flex;
    left: 500px;
    top: 7px;
    width: 800px;
    height: 50px;
    margin: 0 auto;
}

/* first nav 정렬 */
header>div>.top_div>#nav_first>ul{
    display: flex;
}
/* first nav 각 컬럼 설정 */
header>div>.top_div>#nav_first>ul>li{
    position: relative;
    line-height: 30px;
}



/* 돋보기 위치설정 */
header>div>.top_div>#nav_first>ul>li>a{
    /* display: block; */
    position: relative;
    display: block;
    padding: 11px 16px;
}
/* first nav 각 컬럼 호버시 언더라인 */
header>div>.top_div>#nav_first>ul>li>a:hover{
    text-decoration: underline;
}

/* search bar-text창 */
header>div>.top_div>#nav_first>.search>input{
    height: 26px;
    transition: 0.4s; 
}

/* 돋보기 설정 */
header>div>.top_div>#nav_first>.search .material-icons{
    background: white;
    border: 1px solid #999;
    border-radius: 5px;
    margin: 0 auto;
    transition: .4s;
    vertical-align: middle;
    padding: 3px 6px;
}


/* 돋보기 클릭시 text창 열리고 돋보기는 사라짐 */
header>div>.top_div>#nav_first>.search.focused .material-icons{
    opacity: 0;
}

/* first nav 각 컬럼 안 링크*/
header>div>.top_div>#nav_first>ul>li a{
    display: block;
    font-size: smaller;
    color: #555;
    padding: 0 15px;
    border-right: 1px solid rgb(235, 229, 229);
    
}


/* first nav 돋보기 왼쪽 테두리 제거 */
header>div>.top_div>#nav_first>ul>li:nth-last-child(1)>a{
    border-right: 0;
}

/* botto_div 위치 설정 방법 */
header>div>.bottom_div{
    display: flex;
    
}
/* 위치 조정 실패 */
/* header .nav_second{
} */

/* second nav 위치고정 */
header .main-menu{
    position: absolute;
    height: 70px;
    bottom: 12px;
    z-index: 1;
    
}
/* second nav float 정렬 */
header .main-menu .item{
    float: left;
    height: 70px;
    padding: 20px 0;
    overflow: hidden;
}

/* second nav 각 컬럼 */
header .main-menu .item .item_name {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

/* second nav 각 컬럼 a태그 */
header .main-menu .item .item_name a{
    display: block;
    height: 40px;
    width: 0 auto;
    padding: 10px 20px 12px;
    color: #000;
    
}

/* second nav 호버시 색상변경 */
header .main-menu .item:hover .item_name a{
  background-color: #2c2a29;
  color: #669900;
}

/* dropdown 전체 div */
header .main-menu .item .item_contents {
  height: 0;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 120px;
  left: 0;
  transition: 0.5s; 
}

/* 컬럼 호버시 dropdown 전체 div */
header .main-menu .item:hover .item_contents {
  display: block;
  height: 500px;
  
}

/* dropdown 위치고정 */
header .main-menu .item .item_contents .contents_menu {
  background-color: #2c2a29;
  padding-left: calc(50% - 550px);
  
}
/* dropdown 정렬 방법 */
header .main-menu .item .item_contents .contents_menu>ul {
  display: flex;
  padding: 20px 0;
}

/* dropdown 각 li 너비 */
header .main-menu .item .item_contents .contents_menu>ul>li {
  width: 220px;
}

/* 첫번째라인 설정 */
header .main-menu .item .item_contents .contents_menu>ul>li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
}

/* 첫번째라인 글자색 */
header .main-menu .item .item_contents .contents_menu ul li h4 a{
    color: #fff;
}

/* 나머지라인 설정 */
header .main-menu .item .item_contents .contents_menu>ul>li ul li {
  padding: 5px 0;
  font-size: 12px;
  cursor: pointer;
}

/* 나머지라인 글자색 */
header .main-menu .item .item_contents .contents_menu ul li ul a{
    color: #999;
}

/* dropdown 각 리스트 마우스 호버시 밑줄 */
header .main-menu .item .item_contents .contents_menu ul li a:hover{
    text-decoration: underline;
}

/* dropdown 2번째 div */
header .main-menu .item .item_contents .contents_texture {
  padding: 26px 0;
  font-size: 12px;
  padding-left: calc(50% - 550px);
  background-image: url(https://www.starbucks.co.kr/common/img/common/gnb_sub_txbg.jpg);
}


/* dropdown 2번째 div-첫줄 글자생삭 */
header .main-menu .item .item_contents .contents_texture a{
    color: #999
  }
/* dropdown 2번째 div-두번째줄 글자색상 */
header .main-menu .item .item_contents .contents_texture p {
  color: #669900;
  margin: 4px 0 14px;
}

/* ! 우진오빠 */
/* 프로모션음료 메인화면 div */
.topWrap{        
    height: 646px;
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Spring2_main_bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
    }

.main-visual_wrap{
    position: relative;
    bottom: 96px;
    width: 100%;
    height: 646px;
}

.main_visual_inner {
    width: 1130px;
    height: 100%;
   position: relative;
   box-sizing: border-box;
   max-width: 1080px;
    margin: 0 auto;
}

/* 현대카드 div */
.layer_floating{
    z-index: 999;
    width: 140px;
    height: 96px;
    top: 25px;
    position: relative;
    margin: 0 0 0 485px;
    left: 58%;
}
.layer_floating > div.badge_cont2{
    position: fixed;
    height: 96px;
}

.badge_cont2 > a{
    position: absolute;
    width: 140px;
    height: 96px;
    z-index: 11;
}

/* main_Bring New Spring */
.main-visual_slogan{
    position:absolute;
    top: 9.1%;
    left: -5%;
    
}

.main-visual_slogan, .btn_slogan {
    position:absolute;
    width: 355px;
}
/* main_자세히 보기 */
.btn_slogan{

    top:39%;
    left: -50px;
    height: 38px;
    text-align: center;
    
}

.main-visual_slogan{
    height: 156px;
    animation: set 2s;
}

.main-visual_slogan, .set_common{
    position: absolute;
}

.main-visual_set{
    height: 100%;
}

.btn_slogan, .set_common{
    position: absolute;
}

/* main_tea */
.set_02{    
   
    top: 5.1%;
    left: 42%;
    opacity: 0;   
}

/* main_coldbrew */
.set_01{
    
    top: 30.9%;
    left: 18%;
    opacity: 0;     
}


/* main_latte */
.set_03{
    top: 19.2%;
    left: 80%; 
    opacity: 0;
}

@keyframes set{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
 
/* 자세히 보기 링크 */
.btn_slogan{
    opacity: 0;  
}

.btn_slogan > a{

    margin: 0 auto;
    display: block;
    border: 2px solid #e95a87;
    color: #e95a87;
    width: 129px;
    text-decoration: none;
    font-size: 15px;
    line-height: 34px;
    border-radius: 5px;             
    text-align: center;
    font-weight: 100px;
          
}

/*2. Magazine div */
.reserve_inner{
    width: 100%;
    height: 400px;
    position: relative;
    margin: 0 auto;
    
}

/* 백그라운드 화면 */
.reserve_wrap{
    width: 100%;
    
    background:url("https://image.istarbucks.co.kr/upload/common/img/main/2021/reserve_bg_pc.png") no-repeat 50% 100%;
}

/* 타이틀 div */
.reserve_title{
    position: relative;
    width: 100%;
    height: 265px;
    margin: 0 auto;
    max-width: 1100px;
    padding-top: 135px;
    padding-left: 55px;
}
/* 자세히 보기 div large */
.reserve_inner > div.reserve_detail1{
    width: auto;
    position: absolute;
    max-width: 1100px;
    z-index: 10;
    max-width: 1100px;
    margin: 33px auto 0;
    box-sizing: border-box;
    bottom: 165px;
    
    
}
.reserve_detail1, .reserve_detail2{
    position: absolute;
    left: 0;
    right: 0;
    max-width: 1100px;
    margin: 33px auto;
}

/* 자세히보기 div small */
.reserve_detail1 > div.reserve_detail2{
    box-sizing: border-box;
    padding-left: 225px;
    width: 583px;
    left: -580px;

}

/* 우측 사진 div */
.reserve_inner > div.reserve_visual{
    display: block;
    position: absolute;
    top: 0;        
    right: 50%;
    bottom: auto;
    margin-right: -483px;
    animation: twinkle 2s;
}
/* 우측사진 깜빡임 효과 */
@keyframes twinkle{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}

 /* 우측 사진 */
.reserve_visual>img{
    min-width: auto;
}

/* 리저브 배너 */
.reserve_title>img.reserve1{
    transform: translateX(-11px);
} 


/* 자세히 보기 버튼 */
.reserve_detail2> a{
margin: 0px 116.5px;
text-decoration: none;
display: block;
width: 125px;
height: 100%;
color: #000;
font-size: 15px;
line-height: 34px;
text-align: center;
border: 2px solid #000;
border-radius: 5px;
box-sizing: border-box;   
}

/* ! 공지사항, 스타벅스 프로모션 CSS 시작 : 은진 */
.line_notice {
    position: relative;
    width: 100%;
    display: block;
    height: 60px;
}

.line_notice_left {
    background: #111;
    left: 0;
    position: absolute;
    top: 0;
    height: 62px;
    width: 50%;
    /* z-index: 10; */
}

.line_notice_right {
    height: 62px;
    width: 50%;
    background: #f6f5ef;
    position: absolute;
    right: 0;
    top: 0;
    /* z-index: 10; */
}

.line_notice_bg {
    background: url(https://www.starbucks.co.kr/common/img/main/line_notice_bg.jpg);
    height: 62px;
    left: 50%;
    margin-left: -640px;
    width: 1280px;
    position: absolute;
    top: 0;
}

.line_notice_bg1 {
    height: 62px;
    width: 730px;
    float: left;
}

.line_notice_inner {
    height: 36px;
    margin: 13px 0 0 89px;
    width: 621px;
    float: left;
}

.line_notice_inner1 {
    float: left;
    position: relative;
    height: 33px;
    width: 494px;
}

.notice_title {
    background: url(https://www.starbucks.co.kr/common/img/common/notice_ttl.png);
    background-size: 65px auto;
    height: 17px;
    left: 0;
    top: 10px;
    overflow: hidden;
    position: absolute;
    text-indent: -20000px;
    width: 65px;
}

.notice_title img {
    max-width: 100%;
    vertical-align: top;
}

.line_notice_inner1 dd {
    position: absolute;
    left: 65px;
    top: 9px;
    width: 520px;
    height: 24px;
    text-indent: 15px;
    overflow: hidden;
    margin-inline-start: 40px;
}

.line_notice_inner_r {
    height: 36px;
    width: 36px;
    float: right;
    position: relative;
    vertical-align: baseline;
}

.line_notice_inner_r span {
    background: url(https://www.starbucks.co.kr/common/img/common/btn_notice_plus.png) 0 0 no-repeat;
    position: absolute;
    background-size: 35px;
    height: 36px;
    left: 0;
    top: 0;
    width: 36px;
}

.line_notice_inner_r span a {
    font-size: 14px;
    color: #c19d55;
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: -20000px;
    width: 100%;
}

.line_notice_bgr {
    float: right;
    position: relative;
    height: 62px;
    width: 550px;
    z-index: 3;
}

.line_notice_bgr a {
    display: block;
    position: absolute;
    height: 36px;
    left: 37%;
    top: 13px;
    width: 234px;
}

.line_notice_bgr a p.prom_title {
    background: url(https://www.starbucks.co.kr/common/img/common/prom_ttl_b.png) no-repeat;
    overflow: hidden;
    position: absolute;
    text-indent: -20000px;
    background-size: 100% auto;
    height: 17px;
    left: 0;
    top: 9px;
    width: 129px;
}

.line_notice_bgr a span.btn_prom {
    overflow: hidden;
    position: absolute;
    height: 35px;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 35px;
}

.line_notice_bgr a span.btn_prom img {
    max-width: 100%;
    vertical-align: top;
}

/* ! 프로모션 배너 CSS 시작 : 은진 */
/* 이미지 사라짐 효과 */
.slide {
    height: 650px;
    overflow: hidden;
    position: relative;
    background:#f6f5ef;
}
.slide li {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: 1s;
}
.slide li:nth-child(1),
.slide li:nth-child(2),
.slide li:nth-child(3) {
    background:#f6f5ef
}
.slide input{
    display:none;
}
.slide .bullet {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
}
.slide .bullet label {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #666;
    display: inline-block;
    background: #fff;
    font-size: 0;
    transition: 0.5s;
    cursor: pointer;
}

    /* 슬라이드 조작 */
    #pos1:checked ~ ul li:nth-child(1),
    #pos2:checked ~ ul li:nth-child(2),
    #pos3:checked ~ ul li:nth-child(3) {
        opacity:1;
    }
    /* bullet 조작 */
    #pos1:checked ~ .bullet label:nth-child(1),
    #pos2:checked ~ .bullet label:nth-child(2),
    #pos3:checked ~ .bullet label:nth-child(3) {
        background:#666;
    }

    .main_prom_bxslider a {
        border: 2px solid #222;
        border-radius: 3px;
        color: #222;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 34px;
        margin: -50px 350px 0;
        text-align: center;
        width: 121px;
    }

    .bx-clone {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .img_style {
        width: 819px;
        height: 553px;
    }

    .main_prom_bxslider li a {
        border: 2px solid #222;
        border-radius: 3px;
        color: #222;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 34px;
        margin: -50px auto 0;
        text-align: center;
        width: 121px;
        position: absolute;
        top: 90%;
    }


/* ! 리워드 CSS 시작 : 은진 */
.starbucks_rewards {
    background-color: rgb(30, 57, 50);
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.rewards_font_title {
    font-size: 1.5em;
}

.rewards_logo {
    width: 176px;
    padding-right: 20px;
}

.rewards_font_color {
    color: white;
    padding-right: 100px;
}

.font_size {
    font-size: 17px;
}

.font_size_sm {
    font-size: 14px;
}

.border_bottom {
    border-bottom: 1px solid lightgray;
}

.btn_join {
    background-color: rgb(0, 112, 74);
    border: 3px solid rgb(0, 112, 74);
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 10px;
    color: white;
    font-size: 15px;
}

.btn_login {
    background-color: rgb(30, 57, 50);
    border-radius: 5px;
    border: 3px solid white;
    padding: 5px 15px;
    color: white;
    font-size: 15px;
}

.btn_gift {
    background-color: rgb(30, 57, 50);
    border-radius: 5px;
    border: 3px solid white;
    padding: 0 20px;
    color: white;
    display: block;
    line-height: 38px;
    font-size: 15px;
}

.line {
    border-bottom: 1px solid rgba(173, 173, 173, 0.479);
    margin: 20px 0;
}

/* ! left, right 애니메이션 기능 : 은진 */
@keyframes left {
    0% {
        left: 0%;
        opacity: 0;
    }

    100% {
        right: 50%;
        opacity: 1;
    }
}

@keyframes left_reverse {
    0% {
        right: 50%;
        opacity: 1;
    }

    100% {
        left: 0%;
        opacity: 0;
    }
}

@keyframes right {
    0% {
        left: 100%;
        opacity: 0;
    }

    100% {
        right: 0%;
        opacity: 1;
    }
}

@keyframes right_reverse {
    0% {
        right: 0%;
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

/* ! 스프링시즌 CSS 시작 : 은진 */
.springWrap{
    background-image: url(https://media.discordapp.net/attachments/953519030080262175/953992839128289300/6cd796ca4054aa57.jpg);
    background-size: cover;
    padding: 80px;
}

.spring_season {
    position: relative;
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
}

.inline_season {
    display: inline-block;
    position: relative;
    left: 30.6%;
    max-width: 100%;
    width: 42%;
}

.inline_season img {
    position: relative;
    right: 70%;
}

.spring_font {
    display: inline-block;
    position: absolute;
    left: 60%;
    bottom: 200px;
    margin-left: 20px;
    width: 400px;
}


.spring_font_p {
    font-size: 17px;
    color: rgb(255, 55, 155);
    font-weight: bold;
}

.spring_font_t {
    font-size: 35px;
    font-weight: 600;
    color:saddlebrown
}

.spring_font_s {
    margin-top: 10px;
    font-size: 14px;
}

.spring_btn {
    margin: 20px 0;
    background-color: unset;
    border-radius: 5px;
    border: 2px solid;
    position: absolute;
}

.spring_btn > a {
    display: block;
    width: 125px;
    height: 38px;
    font-size: 17px;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 38px;
}

.spring_img {
    display: inline-flex;
    justify-content: left;
    width: 250px;
}

/* 에티오피아 CSS 시작 */
.reserve_wrap_ethiopia {
    position: relative;
    background: url("https://image.istarbucks.co.kr/upload/common/img/main/2022/reserve_2022_ethiopia_visual_bg.jpg") no-repeat center top;
    background-size: cover;
    height: 400px; 
    overflow: hidden;
}

.ethiopia {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: transparent;
}

.ethiopia_img {
    position: relative;
    z-index: 5;
    padding-top: 82px;
    max-width: 1080px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.ethiopia_visual {
    transform: translateX(-11px);
    width: auto;
    vertical-align: top;
    max-width: 100%;
}
.ethiopia_visual .ethiopia_visual_coffee{
    max-width: none;
}

.ethiopia_visual_coffee{
    width: auto;
}

.eth_coffee_img {
    width: 100%;
    position: absolute;
    display: block;
    bottom: 0;
}

.eth_coffee_img .ethiopia_visual{
    max-width: none;
}

.eth_coffee_img img {

   width: auto;
   vertical-align: top;
   
}

.ethiopia_btn {
    position: relative;
    z-index: 5;
    max-width: 1080px;
    margin-top: 23px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 254px;
    box-sizing: border-box;
}

.ethiopia_btn_detail {
    width: 125px;
    height: 38px;
    background: transparent;
}

.ethiopia_btn_detail a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 34px;
    color: #b9813e;
    text-align: center;
    border: 2px solid #b9813e;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color .7s, color .7s, border-color .7s;
    text-decoration: none;
}

/* ! 에티오피아 CSS 시작 : 은진 */
.reserve_wrap_ethiopia {
    position: relative;
    height: 400px;
    background: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/reserve_2022_ethiopia_visual_bg.jpg) no-repeat center top; 
    background-size: cover;
    overflow: hidden;
}

.ethiopia {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: transparent;
}

.ethiopia_img {
    position: relative;
    z-index: 5;
    padding-top: 82px;
    max-width: 1080px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.ethiopia_visual {
    transform: translateX(-11px);
    width: auto;
    vertical-align: top;
    max-width: 100%;
}

.eth_coffee_img {
    display: block;
    position: absolute;
    right: -5%;
    bottom: 0;
    opacity: 0;
    margin: 0 330px;
}

.eth_coffee_img img {
    max-width: none;
    width: 2000px;
    height: 400px;
    vertical-align: top;
    background: transparent;
    padding-left: 20%;
}

.ethiopia_btn {
    position: relative;
    z-index: 5;
    max-width: 1080px;
    margin-top: 23px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 254px;
    box-sizing: border-box;
}

.ethiopia_btn_detail {
    width: 125px;
    height: 38px;
    background: transparent;
}

.ethiopia_btn_detail a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 34px;
    color: #b9813e;
    text-align: center;
    border: 2px solid #b9813e;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color .7s, color .7s, border-color .7s;
    text-decoration: none;
}


/* ! pick your favorite CSS 시작 : 은진 */
#pick_wrap {
    background: url(https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg) center center fixed no-repeat #45434c;
    background-size: auto 100%;
    height: 800px;
    padding: 0;
    position: relative;
    display: block;
}

#pick_wrap .pick_inner {
    bottom: 0;
}

.pick_inner {
    left: 50%;
    margin-left: -640px;
    position: absolute;
    top: 0;
    width: 1280px;
}

.txt01 {
    background: url(https://www.starbucks.co.kr/common/img/main/fav_prod_txt01.png) no-repeat;
    height: 204px;
    left: 200px;
    overflow: hidden;
    position: absolute;
    text-indent: -20000px;
    top: 120px;
    width: 258px;
    z-index: 7;
}

.txt02 {
    background: url(https://www.starbucks.co.kr/common/img/main/fav_prod_txt02.png) no-repeat;
    height: 156px;
    left: 92px;
    overflow: hidden;
    position: absolute;
    text-indent: -20000px;
    top: 370px;
    width: 362px;
    z-index: 7;
}

.pick_img {
    top: 100px;
    right: -10px;
    width: 672px;
    height: 458px;
    background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Spring2_pick_img.png);
    position: absolute;
    background-size: 100% !important;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 7;
}

.pick_btn {
    width: 125px;
    height: 38px;
    border-width: 0;
    border-radius: 3px;
    left: 350px;
    position: absolute;
    top: 570px;
    width: 121px;
    z-index: 7;
}

.pick_btn a {
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    display: block;
    height: 100%;
    line-height: 34px;
    text-align: center;
    width: 100%;
    background: transparent;
}

@keyframes pick_left {
    0% {
        left: -50%;
        opacity: 0;
    }

    100% {
        right: 50%;
        opacity: 1;
    }
}

@keyframes pick_reverse {
    0% {
        right: 50%;
        opacity: 1;
    }

    100% {
        left: -50%;
        opacity: 0;
    }
}

.pick_animation {
    position: relative;
    left: -100px;
    margin: 0 10%;
    height: 458px;
}


/* ! 2. Magazine div : 김우진 */
.reserve_inner{
    width: 100%;
    height: 400px;
    position: relative;
    margin: 0 auto;
    
}

/* 백그라운드 화면 */
.reserve_wrap{
    width: 100%;
    
    background:url("https://image.istarbucks.co.kr/upload/common/img/main/2021/reserve_bg_pc.png") no-repeat 50% 100%;
}

/* 타이틀 div */
.reserve_title{
    position: relative;
    width: 100%;
    height: 265px;
    margin: 0 auto;
    max-width: 1100px;
    padding-top: 135px;
    padding-left: 55px;
}
/* 자세히 보기 div large */
.reserve_inner > div.reserve_detail1{
    width: auto;
    position: absolute;
    max-width: 1100px;
    z-index: 10;
    max-width: 1100px;
    margin: 33px auto 0;
    box-sizing: border-box;
    bottom: 165px;
    
    
}
.reserve_detail1, .reserve_detail2{
    position: absolute;
    left: 0;
    right: 0;
    max-width: 1100px;
    margin: 33px auto;
}

/* 자세히보기 div small */
.reserve_detail1 > div.reserve_detail2{
    box-sizing: border-box;
    padding-left: 225px;
    width: 583px;
    left: -580px;

}

/* 우측 사진 div */
.reserve_inner > div.reserve_visual{
    display: block;
    position: absolute;
    top: 0;        
    right: 50%;
    bottom: auto;
    margin-right: -483px;
    animation: twinkle 2s;
}
/* 우측사진 깜빡임 효과 */
@keyframes twinkle{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}

 /* 우측 사진 */
.reserve_visual>img{
    min-width: auto;
}

/* 리저브 배너 */
.reserve_title>img.reserve1{
    transform: translateX(-11px);
} 


/* 자세히 보기 버튼 */
.reserve_detail2> a{
margin: 0px 116.5px;
text-decoration: none;
display: block;
width: 125px;
height: 100%;
color: #000;
font-size: 15px;
line-height: 34px;
text-align: center;
border: 2px solid #000;
border-radius: 5px;
box-sizing: border-box;   
}

/* ! 3. Find_starbucks : 김우진 */

/* 3 div */
.storeWrap{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url("https://www.starbucks.co.kr/common/img/main/store_bg.jpg");
}
.store{        
    position: absolute;
    left: 50%;
    margin-left: -640px;
    top:0;
    width: 1280px;
}
    /* small이미지 div */
.store_image01{
    width: 228px;
    height: 228px;
    position: absolute;
    top: 31%;
    right:662px;
    bottom:-377px;
    left:390px;
    background-image: url("https://www.starbucks.co.kr/common/img/main/store_exp_img01.png");
    animation: twinkle 2s;
}
    /* large이미지2 div */
.store_image02{
    position: absolute;
    width: 366px;
    height: 312px;
    top:0px;
    right:754px;
    bottom:-312px;
    left:160px;
    background-image: url("https://www.starbucks.co.kr/common/img/main/store_exp_img02.png");
    animation: twinkle 2s;
}

/* background 이미지3 */
.store_image03{
    position: absolute;
    left: 520px;
    top:-60px;
    width: 343px;
    height: 142px;
    z-index: 4;
    background-image: url("https://www.starbucks.co.kr/common/img/main/store_exp_img03.png");    
}
/* background 이미지4 */
.store_image04{
    width: 230px;
    height: 102px;
    position: absolute;
    top: 299px;
    right: 30px;
    background-image: url("https://www.starbucks.co.kr/common/img/main/store_exp_img04.png");

}
    /* 이미지 사라짐 효과 */
@keyframes twinkle{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}
/* 텍스트1 div */
.store_text01{
    width: 385px;
    height: 54px;
    position: absolute;
    right:147px;
    bottom:170px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    animation: slide1 2s ease-out;

}
/* 텍스트2 div */
.store_text02{
    width: 366px;
    height: 61px;
    font-size: 0.84rem;
    position: absolute;
    right: 165px;
    bottom: 103px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    animation: slide2 2.2s ease-out;
}
/* 매장 찾기 div */
.find_store{
    position: absolute;
    width: 121px;
    height: 34px;
    bottom: 60px;
    right: 399px;
    text-align: center;
    border: 2px solid #222;
    border-radius: 3px;
    animation: slide3 2.6s ease-out;
}

/* 매장찾기 버튼 */
.find_store > a{
    display: block;
    width: 100%;
    color: #000;
    font-size: 15px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
}
/* 앱솔루트로 포지션 준 뒤에 애니메이션 작업 진행 */
@keyframes slide1{
    from{
        right: -400px;
        opacity: 0;
    }
    to{
        right: 147px;
        opacity: 1;
    }
}
@keyframes slide-1{
    from{
        right: -400px;
        opacity: 0;
    }
    to{
        right: 147px;
        opacity: 1;
    }
}
@keyframes slide2{
    from{
        right: -400px;
        opacity: 0;
    }
    to{
        right: 165px;
        opacity: 1;
    }
}
@keyframes slide3{
    from{
        right: -450px;
        opacity: 0;
    }
    to{
        right: 399px;
        opacity: 1;
    }
}

/* footer */

footer#footer{
    background:#2C2A29;
    clear:both;
    position: relative;
    width: 100%;
    padding-top: 30px;
}


 /* div 백그라운드 */
.footer_wrap{
    background:url("	https://www.starbucks.co.kr/common/img/footer/footer_logo.png") right 8px no-repeat;
    display: inline-block;
    left: 50%;
    position: relative;
}
/* footer_wrap div */

.footer_wrap{
    margin-left: -591px;
    width: 1182px;
    
}

.footer_menus ul li.footer_menu_ttl a{
    font-size: 14px;
    line-height: 40px;
}
.footer_menus ul li a{
    color: white;
    font-size: 12px;
    line-height: 24px;
}

.footer_menus ul li a{
    width: 100%;
}


.footer_menus ul{
    width: 220px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}

.footer_menus {
    padding-bottom: 40px;
}

.footer_awards_wrap {
    background: #282828;
    height: 80px;
    position: relative;
    width: 100%;
    padding-top: 20px;
}

.footer_awards_slider {
    display: inline-block;
    position: relative;
}

.footer_awards_wrap_inner {
    position: absolute;
    left: 50%;
    margin-left: -591px;
    width: 1182px;
    padding-bottom: 20px;
}

.footer_awards_wrap_inner ul li {
    float: left;
}

.footer_awards_wrap_inner li {
    position: relative;
}

.footer_awards_slider li a {
    display: block;
}

.footer_awards_slider li a img {
    margin: 0 auto;
}

.footer_slider_controller {
    bottom: 3px;
    height: 12px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 14;
}

.copyright {
    left: 50%;
    position: relative;
    display: block;
    color: #999;
    font-size: 12px;
    line-height: 18px;
    margin-left: -50%;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
}

.copyright ul.copy_menu li {
    line-height: 1.3;
    display: inline-block;
    margin: 0 7px;
}

.copyright a {
    display: inline-block;
    border-right: 1px solid #393939;
    color: #ccc;
    font-size: 12px;
    padding: 0 10px;
}

.c_00b050 {
    color: #00b050 !important;
    font-weight: bold;
}

.copyright a.last {
    border-right: 0;
}

.copyright a.btned_link {
    background: none;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin: 10px 2px 0 3px;
    width: 90px;
    height: 30px;
    line-height: 30px;
}

.copyright ul.copy_menu {
    padding: 25px 0 5px 0;
    margin: 0 auto;
    text-align: center;
}

.copyright span.en {
    display: inline-block;
    line-height: 40px;
}

.en {
    font-family: Arial, Helvetica, sans-serif;
}